[Unit]
Description=ethtool_enp1s0f1_tweak
Before=network-pre.target

[Service]
ExecStart=ethtool --set-ring enp1s0f1 rx 8192 tx 8192
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=network.target
